<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217877522448-3lii6j4cau7ds06kbtprfvarbuteurb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217877522448-3lii6j4cau7ds06kbtprfvarbuteurb2</string>
	<key>API_KEY</key>
	<string>AIzaSyBLkQM_3B9dr33FdroCQE75MuMHlvZE18c</string>
	<key>GCM_SENDER_ID</key>
	<string>217877522448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AdityaI.RemindersFirebase</string>
	<key>PROJECT_ID</key>
	<string>rem1-ec630</string>
	<key>STORAGE_BUCKET</key>
	<string>rem1-ec630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217877522448:ios:f8126bd70c3c8595db0295</string>
</dict>
</plist>